{{define "main"}}
<div class="">
  <article class="mx-auto prose">
    <h1 class="pt-4">{{ .Title }}</h1>
    {{ .Content }}
    <div class="not-prose">
      {{ range where .Site.Pages.ByDate "Params.series" .Params.series }}
        {{ if gt $.Date.Unix .Date.Unix }}
          {{ $.Scratch.Set "previous" .Permalink }}
        {{ end }}
      {{ end }}
      {{ range where .Site.Pages.ByDate.Reverse "Params.series" .Params.series }}
        {{ if lt $.Date.Unix .Date.Unix }}
          {{ $.Scratch.Set "next" .Permalink }}
        {{ end }}
      {{ end }}
      <ul class="actions pagination md:flex md:justify-between">
        <li>
          <a href="{{ if $.Scratch.Get "previous" }}{{ $.Scratch.Get "previous" }} {{ end }}" class="{{ if not ($.Scratch.Get "previous") }}disabled {{ end }}button big previous">
            <div class="pt-4">
              <button class="w-full md:w-40 py-2 px-4 no-underline rounded-full border border-gray-200 transition duration-150 text-gray font-thin text-sm  btn-primary hover:text-white hover:border-black hover:bg-black focus:outline-none  ">
                {{ partial "fontawesome.html" "arrow-left" }} Previous 
              </button>
            </div>
          </a>
        </li>
        <li>
          <a href="{{ if $.Scratch.Get "next" }}{{ $.Scratch.Get "next" }} {{ end }}" class="{{ if not ($.Scratch.Get "next") }}disabled {{ end }}button big next">
            <div class="w-full pt-4">
              <button class="w-full md:w-40 py-2 px-4 no-underline rounded-full border border-gray-200 transition duration-150 text-gray font-thin text-sm btn-primary hover:text-white hover:border-black hover:bg-black focus:outline-none  ">
                Next {{ partial "fontawesome.html" "arrow-right" }}
              </button>
            </div>
          </a>
        </li>
      </ul>
    </div>
    
  </article>
</div>

{{end}}
