<nav
class="
  flex flex-wrap
  items-center
  justify-between
  w-full
  py-4
  md:py-0
  text-lg text-gray-700
  bg-white
  max-w-none
  sticky top-0
  prose
  border-b-2 border-gray-100
  z-50
"
>

<div class="not-prose w-full text-center pt-4 flex items-center justify-between">
  <a class=" md:w-full tracking-wider text-3xl" href="{{ .Site.Home }}">
    {{ .Site.Title }}
  </a>
  <svg
  xmlns="http://www.w3.org/2000/svg"
  id="menu-button"
  class="h-6 w-6 cursor-pointer md:hidden block"
  fill="none"
  viewBox="0 0 24 24"
  stroke="currentColor"
>
  <path
    stroke-linecap="round"
    stroke-linejoin="round"
    stroke-width="2"
    d="M4 6h16M4 12h16M4 18h16"
  />
  </svg>
</div>
<div class="not-prose hidden w-full md:flex md:items-center " id="menu">
  <ul
    class="
      pt-4
      text-base text-gray-700
      md:flex
      md:justify-between 
      md:mx-auto
      md:pt-0"
  >
  {{ range.Site.Menus.main }}
  <li>
    <a href="{{ .URL }}" class="md:p-4 py-2 block text-center text-gray-500 hover:text-black transition duration-150 border-b-4 border-transparent hover:border-black">
      {{ .Name }}
    </a>
  </li>
  {{ end }}
  </ul>
</div>
</nav>
<script>
  const button = document.querySelector('#menu-button');
const menu = document.querySelector('#menu');


button.addEventListener('click', () => {
  menu.classList.toggle('hidden');
});

</script>



{{/*  <div class="flex px-60 h-24 items-center justify-between  border-b-2 border-gray-100">
  <div>
    <a class=" tracking-wider text-3xl" href="{{ .Site.BaseURL }}">
      {{ .Site.Title }}
    </a>
  </div>
  <div class="flex ">
    {{ range.Site.Menus.main }}
    <div>
      <a href="{{ .URL }}" class="m-2 p-1 text-gray-500 hover:text-black transition duration-150 border-b-4 border-transparent hover:border-black">
        {{ .Name }}
      </a>
    </div>
    {{ end }}
  </div>
</div>  */}}
  {{/*  the navbar using tailwind  */}}