{{define "main"}}
<div class="">
  <div class="flex justify-center">
    <article class="prose text-center">
      <h1 class="text-2xl ">
        {{/*  {{ .Title }}  */}}
      </h1>
    </article>
    </div>
    <div class="container mx-auto text-center w-full ">
      Link to legacy site and more art at the bottom of the page. Netlify not letting me load full gallery rip.
    </div>
    <div class="sm:px-2 ">
      {{ .Content }}
  </div>
  <div class="container flex mx-auto w-full justify-center ">
    <a rel="noreferrer"
          target="_blank" href="https://ibrahimsowunmi.com/art">
              <div class="pt-4">
                  <button class="py-2 px-4 no-underline rounded-full border border-gray-200 transition duration-150 text-gray font-thin text-sm border-orange btn-primary hover:text-white hover:border-black hover:bg-black focus:outline-none  "> Link to legacy site</button>
                </div>
          </a>
    
  </div>
</div>
{{end}}
